.answer {
  display: none;
}

.jumbotron {
  background-color: red;
  text-align: center;
  font-weight: bold;
  color: yellow;
  height: 250px;
}

button {
  background-color: royalblue;
  color: white;
}

.answer p {
  padding-left: 100px;
}